repos:
    - repo: https://github.com/abravalheri/validate-pyproject
      rev: v0.10.1
      hooks:
          - id: validate-pyproject

    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.0.178
      hooks:
          - id: ruff

    - repo: https://github.com/psf/black
      rev: 22.6.0
      hooks:
          - id: black

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.981
      hooks:
          - id: mypy
